
<h1>Дисциплины</h1>

<button type="button" id="create-btn" onclick="openDisciplineForCreate()">Создать</button>
<table class="discipline-table table table-bordered">
    <thead>
      <tr>
        <th scope="col">Название</th>
        <th scope="col">Редактирование</th>
      </tr>
    </thead>
    <tbody>

    {% for item in items %}
        <tr>
        <td>{{ item['name'] }}</td>
        <td>
            <button type="button" id="edit-{{ item['id'] }}" onclick="openDisciplineForEdit({{ item['id'] }})">Изменить</button>
        </td>
        </tr>
    {% endfor %}

    </tbody>
  </table>