

<h1>Группы</h1>

<button class="btn btn-primary mt-4" type="button" id="create-btn" onclick="openGroupForCreate()">Создать</button>
<table class="group-table table table-bordered">
    <thead>
      <tr>
        <th scope="col">Имя</th>
        <th scope="col">Cпециальность</th>
        <th scope="col">Курс</th>
        <th scope="col">Редактирование</th>
      </tr>
    </thead>
    <tbody>

    {% for item in items %}

      {% set id = item['id'] %}
      {% set name = item['name'] %}
      {% set speciality = item['speciality'] %}
      {% set course = item['course'] %}

      <tr>
        <td>{{ name }}</td>
        <td>{{ speciality }}</td>
        <td>{{ course }}</td>
        <td>
            <button class="btn btn-primary" type="button" id="edit-{{ id }}" onclick="openGroupForEdit({{ id }})">Изменить</button>
            <button class="btn btn-primary" type="button" id="disciplines-{{ id }}" onclick="loadGroupDisciplines({{ id }})">Дисциплины</button>
        </td>
      </tr>

    {% endfor %}

    </tbody>
  </table>