<form id="edit-form" class="col-10">
  <fieldset>
    <button type="button" class="btn btn-primary mb-4 col-2" onclick="loadGroups()">Назад</button>

    <div class="form-group mt-4">
      <label for="name-input">Название группы</label>
      <input type="text" name="name" class="form-control" id="name-input" value="{{ group.group_name }}" 
             placeholder="Введите название группы (буквы русского алфавита, пробел)" minlength="1" maxlength="32" required="" pattern="^(?=[А-Яа-яЁё].*)[0-9А-Яа-яЁё\s-]+$"
             oninvalid="validateText('name-input')">

    </div>

    <div class="form-group mt-4">
      <label for="course-input">Курс</label>
      <input type="number" class="form-control" name="course" placeholder="Введите курс" id="course-input" value="{{ group.course }}"
                             value="1" min="1" max="8" required="" 
                             oninvalid="this.setCustomValidity('Пожалуйста, введите корректное значение курса')" 
                             oninput="setCustomValidity('')">
    </div>

    <div class="form-group">
      <label for="spec-select" class="form-label mt-4">Специальность</label>
      <select class="form-select" id="spec-select">

        {% for spec in specs %}
          {% if spec['id'] == group.speciality_id %}
            <option selected value="{{ spec['id'] }}">{{ spec['speciality_name'] }}</option>
          {% else %}
            <option value="{{ spec['id'] }}">{{ spec['speciality_name'] }}</option>
          {% endif %} 
        {% endfor %}

      </select>
    </div>

    {% if group.id == 0 %}
      <button type="button" class="btn btn-primary mt-4 col-2" id="ok-button" onclick="createGroup()">ОК</button>
    {% else %}
      <button type="button" class="btn btn-primary mt-4 col-2" id="ok-button" onclick="editGroup({{ group.id }})">ОК</button>
    {% endif %} 

  </fieldset>
</form>