{% extends 'base.html' %}

{% block title %}
Вход
{% endblock %}

{% block body %}
<div class="container col-md-4">
  
    <form method="POST" action="/login">
        <fieldset>
          <div class="form-group">
            <label for="inputLogin1" class="form-label mt-4">Логин</label>
            <input type="text" name="login" class="form-control" id="inputLogin1" placeholder="Введите логин" minlength="1" maxlength="128" required="" oninvalid="this.setCustomValidity('Пожалуйста, введите логин')" oninput="setCustomValidity('')">
          </div>

          <div class="form-group">
            <label for="inputPassword1" class="form-label mt-4">Пароль</label>
            <input type="password" name="password" class="form-control" id="inputPassword1" placeholder="Введите пароль" required="" oninvalid="this.setCustomValidity('Пожалуйста, введите пароль')" oninput="setCustomValidity('')">
          </div>
          
          <button type="submit" class="login-btn btn btn-primary btn-lg col-12">Войти</button>
        </fieldset>
      </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger alert alert-dismissible alert-secondary mt-2">
                {{ messages[0] }}
            </div>
        {% endif %}
    {% endwith %}

</div>
{% endblock %}