
    <form method="POST" class="col-11">
        <fieldset>
            <div class="form-group">
                <label class="col-form-label mt-4" for="input-year">Фамилия</label>
                <input type="text" class="form-control" placeholder="Введите фамилию" id="input-last-name" required>
            </div>

            <div class="form-group">
                <label class="col-form-label mt-4" for="input-year">Имя</label>
                <input type="text" class="form-control" placeholder="Введите имя" id="input-first-name" required>
            </div>

            <div class="form-group">
                <label class="col-form-label mt-4" for="input-year">Отчество</label>
                <input type="text" class="form-control" placeholder="Введите отчество" id="input-patronymic" required>
            </div>

            <button id="reg-teacher-btn" type="button" class="login-btn btn btn-primary btn-lg col-12">Зарегистрировать</button>

        </fieldset>
      </form>