<form id="edit-form" class="col-10">
  <fieldset>
    <button type="button" class="btn btn-primary mb-4 col-2" onclick="loadSpecialities()">Назад</button>

    <div class="form-group mt-4">
      <label for="name-input">Название</label>
      <input type="text" name="name" class="form-control" id="name-input" value="{{ item.speciality_name }}" 
             placeholder="Введите название специальности (буквы русского и английского алфавита, пробел)" minlength="1" maxlength="64" required="" pattern="^(?=[A-Za-zА-Яа-яЁё].*)[A-Za-zА-Яа-яЁё\s]+$"
             oninvalid="validateText('name-input')">
    </div>

    {% if item.id == 0 %}
      <button type="button" class="btn btn-primary mt-4 col-2" id="ok-button" onclick="createSpeciality()">ОК</button>
    {% else %}
      <button type="button" class="btn btn-primary mt-4 col-2" id="ok-button" onclick="editSpeciality({{ item.id }})">ОК</button>
    {% endif %} 

  </fieldset>
</form>