
<h1>Преподаватели</h1>

<button class="btn btn-primary mt-4" type="button" id="create-btn" onclick="openTeacherForCreate()">Создать</button>
<table class="teacher-table table table-bordered">
    <thead>
      <tr>
        <th scope="col">Имя</th>
        <th scope="col">Редактирование</th>
      </tr>
    </thead>
    <tbody>

    {% for teacher in teachers %}
        <tr>
        <td>{{ teacher['name'] }}</td>
        <td>
            <button class="btn btn-primary" type="button" id="edit-{{ teacher['id'] }}" onclick="openTeacherForEdit({{ teacher['id'] }})">Изменить</button>
        </td>
        </tr>
    {% endfor %}

    </tbody>
  </table>